
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


body {
  font-family: 'Montserrat', sans-serif;
  line-height: 1.5;
  background: #fff8e3;
  position: relative;
  overflow-x: hidden;
}

/* Barra lateral */
.sidebar {
  background: #fcc72a;
  padding: 20px;
  width: 220px;
  height: 60vh;
  margin-top: 20vh;
  position: fixed;
  display: flex;
  flex-direction: column;
  align-items: center;
  z-index: 10;
  border-bottom-right-radius: 50px;
  border-top-right-radius: 50px;
}


.sidebar .profile-pic img {
  max-width: 150px;
  border-radius: 50%;
  border: 3px solid #fff;
  margin-bottom: 20px;
}

.sidebar nav ul {
  list-style: none;
}

.sidebar nav ul li {
  margin: 15px 0;
}

.sidebar nav ul li a {
  
  color: #fff;
  text-decoration: none;
  font-weight: bold;
  transition: color 0.3s;
}

.sidebar nav ul li a:hover {
  color: #000;
}

/* Conteúdo principal */
main {
  margin-left: 220px;
  width: calc(100% - 220px);
}

.section {
  padding: 60px;
  min-height: 100vh;
}

.section.home h1 {
  color: #0e0c0c;
  font-style: italic;
}

/* Ajuste nos textos */
h1, h2 {
  font-family: 'Montserrat', sans-serif;
  font-weight: 800;
  font-size: 2.5rem;
}

p, a, li {
  font-size: 1.1rem;
  font-style: italic;
}

.highlight {
  color: #f0b400;
}

.btn {
  font-size: 1.1rem;
  display: inline-block;
  background: #000;
  color: #fff;
  padding: 10px 20px;
  margin-top: 15px;
  text-decoration: none;
  border-radius: 5px;
  transition: background 0.3s;
}

.btn:hover {
  background: #fcc72a;
  color: #000;
}

/* Home */
.section.home {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 100vh;
  padding: 5%;
  gap: 40px;
}

.welcome {
  color: #f8bc06;
  font-weight: 700;
  margin-bottom: 5px;
}

.role_1 {
  background-color: #fcc72a;
  font-weight: 550;
  margin: 10px 0;
  font-size: 1.2rem;
  padding: 6px;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
}

.role_2 {
  background-color: rgb(5, 5, 5);
  font-weight: 550;
  margin: 10px 0;
  font-size: 1.2rem;
  padding: 6px;
  color: #fcc72a;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
}

.description {
  max-width: 400px;
  margin-bottom: 15px;
}

.image-wrapper {
  position: relative;
  margin-right: 220px;
  margin-top: 150px;
  width: 400px;
  height: 400px;
}

@keyframes shadowPulse {
  0% { box-shadow: 0 0 15px rgb(180, 180, 180); }
  50% { box-shadow: 0 0 30px rgb(77, 76, 76); }
  100% { box-shadow: 0 0 15px rgba(184, 184, 184, 0.938); }
}

.image-wrapper img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 50%;
  position: relative;
  z-index: 2;
}

.circle-overlay {
  position: absolute;
  top: -14.5px;
  left: -14.5px;
  width: 430px;
  height: 430px;
  border: 3px solid #ffbf00;
  border-radius: 50%;
  z-index: 1;
}

.social-icons a {
  width: 40px;
  height: 40px;
  color: #f2b400;
  font-size: 1.6rem;
  transition: 0.3s;
}

.social-icons a:hover {
  color: #E1306C;
}

.social-icons {
  display: flex;
  justify-content: center;
  margin-top: 30px;
  margin-right: 215px;
}

/* About */
.stats {
  display: flex;
  gap: 40px;
  margin-top: 20px;
}

.stats div {
  text-align: center;
}

.stats strong {
  font-size: 2rem;
  color: #f2b400;
}

/* Grid de certificados */
.certificados {
  margin-top: 100px;
}

.certificados h2 {
  text-align: center;
  margin-bottom: 20px;
  font-size: 1.8rem;
}

.certificados-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 15px;
}

.certificados-grid img {
  width: 100%;
  height: auto;
  border-radius: 8px;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 1);
  transition: transform 0.3s ease;
}

.certificados-grid img:hover {
  transform: scale(1.05);
}

/* Habilidades */

.habilidades {
  text-align: center;
  padding: 40px;
  color: black;
  margin-top: -15%;
}

.habilidades h2 {
  margin-left: -12%;
}
.subtitulo {
  margin-left: -12%;
  font-size: 1.4em;
  color: #f1c40f;
  margin-bottom: 20px;
}

.carousel-container {
  position: relative;
  max-width: 620px; /* menor para focar em 1 por vez */
  height: 620px;
  margin-left: 24%;
  overflow: hidden;
  border-radius: 20px;
}

.carousel {
  display: flex;
  transition: transform 0.5s ease-in-out;
}

.card {
  flex: 0 0 100%; /* 100% para ocupar a largura toda */
  margin: 0 0px;
  padding: 20px;
  text-align: center;
  transition: transform 0.3s ease;
}

.card:hover {
  transform: scale(1.05);
}

.card img {
  width: 350px;
  height: 350px;
  border-radius: 20px;
  object-fit: cover;
}

.card p {
  font-family: 'Poppins', sans-serif;
  font-size: 1.2rem;
  font-weight: bold;
  margin-top: 12px;
  color: black;
  text-align: center;
  max-width: 90%;
  margin-left: 25px;
  
}

.prev {
  position: absolute;
  margin-left: 75px;
  top: 60%;
  transform: translateY(-50%);
  color: black;
  border: none;
  padding: 10px 15px;
  font-size: 1.5rem;
  cursor: pointer;
  border-radius: 50%;
  z-index: 10;
  transition: background-color 0.3s;
}

.next{
  margin-right: 65px;
  position: absolute;
  top: 60%;
  transform: translateY(-50%);
  color: black;
  border: none;
  padding: 10px 15px;
  font-size: 1.5rem;
  cursor: pointer;
  border-radius: 50%;
  z-index: 10;
  transition: background-color 0.3s;
}

.prev:hover, .next:hover {
  background-color: #f1c40f;
}

.prev { left: -50px; }
.next { right: -50px; }

.dots {
  margin-top: 15px;
}

.dots span {
  display: inline-block;
  width: 12px;
  height: 12px;
  margin: 5px;
  background-color: white;
  border-radius: 50%;
  cursor: pointer;
  transition: background-color 0.3s;
}

.dots .active {
  background-color: #f1c40f;
}

/* ====== Portfolio ===== */
.portfolio .grid {
  display: grid;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  gap: 20px;
  align-items: stretch;
}

/* CARD container */
.portfolio .grid .card.img-hover-container {
  position: relative;
  border-radius: 8px;
  width: 38vw;
  height: 45vh;
  overflow: hidden;
  box-shadow: 0 8px 22px rgba(0,0,0,.5);
  transition: transform .10s ease;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  
}

.portfolio .grid .card.img-hover-container:hover {
  transform: translateY(-2px);
}

.portfolio .grid .card.img-hover-container .hover-img{
  position: relative;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 8px 22px rgba(0,0,0,.9);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 35.8vw;
  height: 36.4vh;
  margin-left: 3%;
  margin-top: 2.6%;
}
.portfolio .grid .card.img-hover-container img {
  border-radius: 8px;
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: opacity .8s ease;
  will-change: opacity;
}

/* Botões duplos */
.project-buttons {
  display: flex;
  justify-content: center;
  gap: 12px;
  margin-top: 15px;
}

.btn-link {
  font-size: 1rem;
  font-weight: bold;
  color: #000;
  text-decoration: none;
  background: #fcc72a;
  padding: 8px 16px;
  border-radius: 6px;
  transition: all 0.3s ease;
  display: inline-block;
}

.btn-link:hover {
  background: #000;
  color: #fff;
}

/* Hover das imagens */
.portfolio .grid .card.img-hover-container .hover-img { opacity: 0; position: absolute; inset: 0; }
.portfolio .grid .card.img-hover-container:hover .hover-img { opacity: 1; }
.portfolio .grid .card.img-hover-container:hover .main-img { opacity: 0; }

/* Responsivo */
@media (max-width: 1024px) {
  .portfolio .grid .card.img-hover-container {
    width: 45vw;
  }
}
@media (max-width: 640px) {
  .portfolio .grid .card.img-hover-container {
    width: 85vw;
  }
}



/* ======== Contato ==========*/
.contact {
  margin-top: 20%;
  padding: 40px;
  text-align: center;
}
.contact p {
  margin: 10px 0;
}

.btn-download {
  display: inline-block;
  padding: 10px 15px;
  background-color: #007bff;
  color: white;
  text-decoration: none;
  border-radius: 5px;
}
.btn-download:hover {
  background-color: #0056b3;
}


/* Footer */
.footer {
  background-color: #fcc72a;
  color: #000;
  text-align: center;
  padding: 20px;
  position: relative;
  bottom: 0;
  width: 100%;
}

/* ===== Animações no Scroll ===== */
.fade-in, .slide-left, .slide-right, .slide-up, .zoom-in {
  opacity: 0;
  transform: translateY(20px);
  transition: opacity 0.8s ease, transform 0.8s ease;
}

.slide-left { transform: translateX(-50px); }
.slide-right { transform: translateX(50px); }
.slide-up { transform: translateY(50px); }
.zoom-in { transform: scale(0.8); }

.show {
  opacity: 1;
  transform: translateX(0) translateY(0) scale(1);
}

/* Animação padrão para elementos ao aparecerem no scroll */
.fade-in {
  opacity: 0;
  transform: translateY(20px);
  transition: opacity 0.8s ease-out, transform 0.8s ease-out;
}

.fade-in.show {
  opacity: 1;
  transform: translateY(0);
}

.background {
  position: absolute;
  top: -20px;
  left: -80px;
  width: 176.5%;
  height: 110%;
  border-top-right-radius: 50px;
  background: linear-gradient(to bottom, #f7e9bb, #ffc400); /* Gradiente de cinza para amarelo */
  z-index: -1; /* Coloca a imagem atrás do conteúdo */
}
